<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393252343949-v60ufj916lj2fatfhslg1u6r07qum0sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393252343949-v60ufj916lj2fatfhslg1u6r07qum0sc</string>
	<key>API_KEY</key>
	<string>AIzaSyDGTt4mVRXhHkXlDdk0B756vx1GV-KOe-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>393252343949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ma7rous.ShopifyApp</string>
	<key>PROJECT_ID</key>
	<string>shopify-1b750</string>
	<key>STORAGE_BUCKET</key>
	<string>shopify-1b750.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393252343949:ios:1a40048fa1453af41892c4</string>
</dict>
</plist>